body {
  background-color: rgba(1,108,157,1);
}

.title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 999;
  text-align: center;
  font-size: 40px;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}

body .wrapper {
  transform: rotate(50deg);
  position: fixed;
  top:0;
  right: 0px;
  bottom:-300px;
  left:-100px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  box-shadow: inset 0 0 50px rgba(1,108,157,1);
}

body .content {
  transform: rotate(-50deg);
  position: fixed;
  height: 100%;
  top:-120px;
  left:80px;
  right:0;
  padding: 100px 10px 10px 10px;
  width: 100%;
  overflow: hidden;
}

.dummy {
  width: 0px;
}